# If Statement

In [ ]:
a = 9

In [ ]:
if a<10:
    print("a is less than 10")
print("a assessed")

USING input()

In [ ]:
a = eval(input("Please input a number: "))

In [ ]:
if a < 0:
    a = -a
print("The absolute value is", a)

# If-Else Statement

In [ ]:
a = 12

In [ ]:
if a<10:
    print("a is less than 10")
else:
    print("a is greater than 10")
print("a assessed")

In [ ]:
a = 10
b = "less than 5" if a<5 else "more than five"
print(b)

In [ ]:
# In a single line
x, y = 50, 25
small = x if x < y else y
print(small)

USING input()

In [ ]:
a = int(input("Please input a positive integer: "))

In [ ]:
if a < 0:
  print('You have entered a negative number')
else:
  if a%2 == 0:
    print(a, "is an even number.")
  else:
    print(a, "is an odd number.")

# if-elif-else example

In [ ]:
# Suppose we want to know if the solutions to the quadratic equation $ax^2+bx+c=0$ 
# are real, imaginary, or complex for a given set of coefficients a, b, and c.

In [ ]:
a = float(input("What is the coefficient a? "))

In [ ]:
b = float(input("What is the coefficient b? "))

In [ ]:
c = float(input("What is the coefficient c? "))

In [ ]:
from math import sqrt
d = b*b - 4.*a*c
if d >= 0.0:
    print("Solutions are real")         # block 1   
    x1 = (-b+sqrt(d))/2.0/a
    x2 = (-b-sqrt(d))/2.0/a
    print("Solution1 = ", x1)
    print("Solution2 = ", x2)    
elif b == 0.0:
    print("Solutions are imaginary")    # block 2
else:
    print("Solutions are complex")      # block 3
print("Finished!")

In [ ]:
# EXAMPLE-2
# First learn how to generate random integers

In [ ]:
from random import randint
# let's generate a number between 0 and 100.
for x in range(10):
  print(randint(0,101))

In [ ]:
# Let's assign grades

In [ ]:
x = randint(0,101)
if x>80:
  print('Exam Score:', x, 'and assigned grade is A')
elif x>60:
  print('Exam Score:', x, 'and assigned grade is B')
elif x>50:
  print('Exam Score:', x, 'and assigned grade is C')
elif x>=40:
  print('Exam Score:', x, 'and assigned grade is D')
else:
  print('Exam Score:', x, 'and assigned grade is F')

## LOGICAL OPERATORS

In [ ]:
# Logical operators in Python
# <	less than
# <=	less than or equal to
# >	greater than
# >=	greater than or equal to
# ==	equal
# !=	not equal
# and	both must be true
# or	one or both must be true
# not	reverses the truth value

In [ ]:
a, b = 5, 10

In [ ]:
a == 4

In [ ]:
a == 5

In [ ]:
a != 5

In [ ]:
a != 6

In [ ]:
a < 5

In [ ]:
a <=5

In [ ]:
b > 8

In [ ]:
a>2 and b<20

In [ ]:
a>2 and b<2

In [ ]:
a>2 or b>10

In [ ]:
not a>2

In [ ]:
not a<2

# For Loops

In [ ]:
for i in (1,2,3,4,5,6,7,8,9):
    print(i)

In [ ]:
for name in ("Dale", "Albert", "Gordon", "Tamara"):
    print(name)

In [ ]:
for i in range(6):
    print(i)

In [ ]:
a = 0
for i in range(5,10):
    a = a + i
    print(a)

In [ ]:
# let's add odd numbers from 1 to 9
y = 0
for x in range(1, 10, 2):
  y = y+x
  print("x is", x, " and current y is", y)

In [ ]:
for dogname in ["Max", "Molly", "Buster", "Maggie", "Lucy"]:
    print("The name", dogname,"has", len(dogname), "characters")    
print("All done.")
print("All done.")
print("Coffee.")

In [ ]:
names = ("Dale","Albert","Gordon","Tamara","Philip","Chester","Windom")
for name in names[0:5:2]:
    print(name)

In [ ]:
names = ("Dale","Albert","Gordon","Tamara","Philip","Chester","Windom")
for i in range(len(names)):
    print(i, names[i])

In [ ]:
# Example
tv_shows = [['How I Met Your Mother', 'Friends', 'Silicon Valley'],
    ['Family Guy', 'South Park', 'Rick and Morty'],
    ['Breaking Bad', 'Game of Thrones', 'The Wire']]

In [ ]:
for sublist in tv_shows:
    for show_name in sublist:
        char_num = len(show_name)
        print("The title " + show_name + " is " + str(char_num) + " characters long.")

In [ ]:
# Example-4
# let's take square of each element of the array an array
import numpy as np
a = np.linspace(0, 10, 3)
print("An array of numbers from 0 to 10")
print(a)
for ii in range(len(a)):
    a[ii] = a[ii]*a[ii]
print("====== and their squares ========")    
print(a)

In [ ]:
# of course, we can do the same using np multiplication
a = np.linspace(0, 10, 3)
print(a)
a = a*a
print(a)

In [ ]:
# NESTED FOR LOOPS!

In [ ]:
for x in range(1, 4):
    for y in range(5, 9):
        print('%d * %d = %d' % (x, y, x*y))

In [ ]:
data = [[0,1,2],[3,4,5]]
print(data)
print('_________________')
for row in data:
    for item in row:
        print(item)

In [ ]:
data = [[0,1,2],[3,4,5]]
print('Number of rows=',str(len(data)))
print('Number of columns=',str(len(data[0])))
for i in range(len(data)):
    for j in range(len(data[i])):
        print (i,j,data[i][j])

In [ ]:
data = [
[0,1],
[2,3],
[4,5]
]
for a,b in data:
    print (str(a) + " " + str(b))

# WHILE LOOPS

In [ ]:
# while [a condition is True]:
#     [do something]

In [ ]:
i = 1
while (i < 10): 
    print (i)
    i += 1

In [ ]:
i = 0
while (i < 10): 
    i += 1
    print (i)

In [ ]:
from math import sin, pi
eps = 1e-7
i = 0 
while i<90:
    if sin(i*pi/180)>=0.5-eps:
        break
    i = i + 1    
print(i, sin(i*pi/180))

In [ ]:
sin(30*pi/180)

In [ ]:
# Let's find the number which is smaller than 1 million 
# and divisible by 17

In [ ]:
i = 1000000
while (i != 0):
    if (i % 17 == 0):
        break
    i -= 1
print (i)

In [ ]:
# let's check
999991.0/17.0

In [ ]:
# ANOTHER "WHILE" EXAMPLE: password
password = ''
trial_number = 0
while password != 'abc123' and trial_number<3: 
    print('What is the password?')
    password = input()
    trial_number = trial_number+1
if trial_number==3:
  print("You have entered wrong password for 3 times")
else:
  print('You have entered the correct password. You may enter.')

In [ ]:
# EXAMPLE-2
# GUESSING GAME

In [ ]:
import random
number = random.randint(1, 25)
number_of_guesses = 0
while number_of_guesses < 5:
    print('Guess a number between 1 and 25:')
    guess = input()
    guess = int(guess)
    number_of_guesses = number_of_guesses + 1
    if guess == number:
        print(Congratulations)
        break

In [ ]:
# EXAMPLE-3
# Another guessing game (this time we will let user the know what the guess was)
# Let's generate a random integer from 1 to 6. then ask the user to make a guess. 
# If it is the right guess, let user know.
# otherwise let's ask them for another try.
# but the user  can make 5 guesses at most
print("The computer chosen an integer from 1 to 6 randomly. Try to guess it. You have 5 chances.")
x = randint(1,6)
trial_number = 1
while trial_number < 6:
  a = int(input("Please enter an integer from 1 to 6: "))
  if a==x:    
    print("You guessed it correctly. Randomly chosen interger was", x)
    break
  else:
    trial_number = trial_number+1
if trial_number == 6:
  print("The chosen number was ", x)

In [ ]:
# EXAMPLE-4
# Age guessing game
# We'll write a Python script that finds out your age in a maximum of 8 tries! 
# Your age has to be between 0 and 128
# The script asks you only one type of question: guessing your age! # 
# (e.g. “Are you 67 years old?”) 
# And you can answer only one of these three options:
# less
# more
# correct
# Based on your answer the computer can come up with another guess until it finds out your exact age.

In [ ]:
down = 0
up = 129
for i in range(1,10):
    guessed_age = int((up + down) / 2)
    answer = input('Are you ' + str(guessed_age) + " years old?")
    if answer == 'correct':
        print("Nice")
        break
    elif answer == 'less':
        up = guessed_age
    elif answer == 'more':
        down = guessed_age
    else:
        print('wrong answer')

### ZIPPING

In [ ]:
states = ['NY','MD','VA']
capitals = ["Albany",'Annapolis','Richmond']
z = zip(states,capitals)
z

In [ ]:
d = {}
for t in z:
    d[t[0]] = t[1]
print(d)

In [ ]:
### ITERATORS

In [ ]:
a = list(range(3))
print(a)

In [ ]:
# let's create an iterator
it = iter(a)
print(it)

In [ ]:
# The next() function returns the next item from the iterator.
# if next() is used as in the form of next(iterator, default)
# then "default" value is returned if the iterator is exhausted (no items left)

# So below what we expect to print 0, 1, 2 first. then there will be no
# more item in the iterator, so it will print "missing"
for i in range(5):
    print(next(it, "missing"))

### Reversing and Sorting

In [ ]:
a = list(range(4))
ri = reversed(a)
for i in ri:
    print(i)

In [ ]:
b = [1, 0, 9, 2 , 7, 5, 5, 4]
print(b)
b.sort()
print("After sorting......")
print(b)

In [ ]:
c = [1, 0, 9, 2 , 7, 5, 5, 4]
print(sorted(c))
print('Note the difference now....')
print(c)

# EXERCISES

In [ ]:
# Write a Python program to find those numbers which are divisible by 7 and multiple of 5, 
# between 15 and 400 (both included)

In [ ]:
nl=[]
for x in range(15, 401,5):
    if x%7==0:
        nl.append(x)
print (nl)

In [ ]:
# convert temperatures to and from celsius, fahrenheit

In [ ]:
temp = input("Input the  temperature you like to convert? (e.g., 45F, 102C etc.) : ")
degree = int(temp[:-1])
i_convention = temp[-1]

if i_convention.upper() == "C":
  result = int(round((1.8 * degree)  + 32))
  o_convention = "Fahrenheit"
elif i_convention.upper() == "F":
  result = int(round((degree - 32)/ 1.8))
  o_convention = "Celsius"
else:
  print("Input proper convention.")
  quit()
print("The temperature in", o_convention, "is", result, "degrees.")

construct the following pattern, using a nested for loop.

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [ ]:
a = range(0)
for i in a:
    print(i)

In [ ]:
n=5;
for i in range(n):
    for j in range(i):
        print ('*', end="_")
    print('')

for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

In [ ]:
# Write a Python program that accepts a word from the user and reverse it.

In [ ]:
word = input("Input a word to reverse: ")
for char in range(len(word) - 1, -1, -1):
  print(word[char], end="")
print("\n")

In [ ]:
help(range)